* {
    margin: 0;
    padding: 0;
}




/***カーテンのように開くアニメーション***/
body::before, body::after{
    content: "";
    position: fixed; /*固定表示*/
    top: 0;
    width: 50vw;
    height: 100vh;
    background: #a79477; /*劇のカーテン色*/
    animation: curtainOpen 3s forwards;
    animation-delay: 0.1s; /*遅延時間*/
    z-index: 999; /*最前面に*/
}
body::before{
left: 0; /*左に開く*/
}
body::after{
right: 0; /*右に開く*/
}

@keyframes curtainOpen{
0%{
    width: 50%; /*閉じている状態*/
}
100%{ 
    width: 0; /*開く*/
    visibility: hidden; /*非表示に*/
}
}


body {
    font-family: serif;
    }
*{
    font-family: serif;
}


.container h1 {
    font-size: 6vw; /* 4% of viewport width */
}



@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.drink {
    font-size: calc(42px );
    line-height: calc(42px );
    /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}


@-webkit-keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}



.image{
    position: absolute;
    
    top: 45%; /* 画像の上部からの距離 */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: poyoyon3 4s infinite; /* アニメーションの時間を長めに設定 */
    opacity: 1;
}

@keyframes poyoyon3 {
    0%, 100% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    30% {
        transform: translate(-50%, -50%) scale(0.85); /* 少し拡大 */
    }
    70% {
        transform: translate(-50%, -50%) scale(0.75); /* 少し縮小 */
    }
}


.item {
    position: absolute;
    top: 75vh; /* 画像の上部からの距離 */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}